<footer class="w-100">
  <div class="container">
    <div class="row ">
      <div class="col-lg-3 col-md-4 text-center">
        <a href="assets/SteffenThomsen_CV19.pdf" target="blank" class="linkedin-logo mr-3"><img src="assets/cv-logo.png" alt=""></a>
        <a href="https://github.com/steffen2811?tab=repositories" target="blank" class="github-logo mr-3"><img src="assets/GitHub-Mark-120px-plus.png" alt=""></a>
        <a href="https://www.linkedin.com/in/steffen-thomsen-a046a8102/" target="blank" class="linkedin-logo"><img src="assets/LI-In-Bug.png" alt=""></a>
      </div>
      <div class="col-lg-9 col-md-8 d-flex align-items-center justify-content-md-end justify-content-center">
        <p class="mb-0">Steffen Thomsen - Softwareudvikler</p>
      </div>
    </div>
  </div>
</footer>