/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

h1, h2, h3, h4, h5, span, p {
  font-family: 'Lato', sans-serif;
  color: black;
}

a:hover {
  text-decoration: none !important;
}

.underline:after {
    content: "";
    display: block;
    height: 3px;
    background-color: #336699;
    margin-top: 1%;
}

.btn-primary {
  transition: 0.3s !important;
}

.card .btn-primary {
  background-color: #336699;
  opacity: .8;
}

.card .btn-primary:hover {
  background-color: #336699;
  opacity: 1;
}

